*{
    margin:0;
    padding:0;
}
.main{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 800px;
}
.heading{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    border: none;
    outline: none;
}    
.hike{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 300px;
    
}
.dropdown-toggle,.dropdown-toggle1{
    outline:none;
    border-radius:5px;
    margin-left: 10px;
}
.dropdown-menu1{
    position: absolute;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    align-items: flex-end;
    list-style: none;
    
}
.dropdown-menu{
    position: absolute;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    align-items: flex-end;
    list-style: none;
    
    
}
.fa-solid {
    font-size: 30px;
    padding-right:5px;
    margin-top: 7px;
    
}
.invite1{
    width:0;
}
.video{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: auto;
    align-items: center;
    justify-content: center;

}
.media{
    display:grid;
    grid-template-rows: auto 50px;
    
    align-items: center;
    justify-content: center;


}
.buttons{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.email{
 outline:none;
 border-radius: 8px;
 border: solid 1px black;
 
};
.invite2{
    outline:none;
 border-radius: 8px;
 border: solid 1px black;
 
}

/* Styles for screens with a maximum width of 480px (typical mobile phones) */
@media screen and (max-width: 480px) {
    .main{
        column-gap:50px;
    }
    .dropdown-menu,.dropdown-menu1{
        max-width:100px;
    }
    
}
/* Styles for screens with a minimum width of 481px and a maximum width of 768px (typical tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main{
        column-gap:70px;
    }
    .dropdown-menu,.dropdown-menu1{
        max-width:200px;
        right:0;
        font-size: 12px;
        
    }
}
/* Styles for screens with a minimum width of 769px (typical desktops and laptops) */
@media screen and (min-width: 769px) {
    .main{
        column-gap:150px;
    }
    .fa-solid {
        font-size: 30px;
        padding-right:5px;
        margin-top: 12px;
}
}
/* Styles for screens with a minimum width of 1200px (large desktops) */
@media screen and (min-width: 1200px) {
    .main{
        column-gap:700px;
    }
}
